.inner{
  padding: 130px 0;
}
.form{
  margin-top: 40px;
}
.input_wrapper{
  max-width: 554px;
  margin-bottom: 20px;
  .label{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $white;
  }
  input{
    padding: 15px;
    width: 270px;
  }
  textarea{
    padding: 6px 14px;
  }
}
