.navbar{
  padding-top: 100px;
  width: 235px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10px;
}
.links{
  position: fixed;
  top: 170px;
  left: 10px;
  width: 235px;
}
.link{
  margin-bottom: 30px;
}

.navigation{
  font-size: 16px;
  color: $white;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.active{
    color: $blue;
  }
}



