p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding-top: 5px;    
}
.car {
    width: 272px;
    height: 272px;
    padding-bottom: 0;
}
